body {
  font-family: sans-serif;
}

form > div {
  margin: 0 0 1em 0;
}

form label {
  font-weight: bold;
  margin: 0 0 0.5em 0;
  display: block;
}

form > div > em {
  margin-top: 0.5em;
  color: red;
  font-weight: bold;
  display: block;
}
